html {
    font-size: 16px;
}

:root {
    /**
      * BREAKPOINTS
      * Prior art: Tailwind (https://tailwindcss.com/docs/responsive-design)
      * (Not quite sticking to mobile-first with the --sm-down breakpoint, but it could be useful)
      */
    /* --sm-down: 639px;
    --sm: 640px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;
    --xxl: 1536px; */
}


/*
Prior art for resets:
https://github.com/jgthms/minireset.css/blob/749bdd8e794ae2bf79e86d096fc66079ea8670e6/minireset.css
https://piccalil.li/blog/a-modern-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

button,
input,
select {
    margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media print {
    .hide-for-print {
        display: none !important;
    }
}

@media screen {
    .hide-for-screen {
        display: none !important;
    }
}
